name: build and optionally publish to ci registry

on:
  workflow_call:
    inputs:
      path:
        description: OTel Collector path
        required: true
        type: string

defaults:
  run:
    shell: bash

jobs:

  build-push:
    runs-on: "ubuntu-latest"
    steps:

      - name: Checkout
        uses: actions/checkout@v4
        with:
            fetch-depth: ${{ github.event_name == 'pull_request' && 1 || 2 }}
            # ref: ${{ inputs.git_tag_name || '' }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

    #   - name: Login to GitHub Container Registry
    #     uses: docker/login-action@v3
    #     if: ${{ inputs.publish == 'true' }}
    #     with:
    #         registry: ghcr.io
    #         username: ${{ github.actor }}
    #         password: ${{ inputs.token }}

      - name: Get Go version
        run: |
          GO_VERSION=$(go mod edit -json | jq -r .Go)
          echo "Detected: $GO_VERSION"
          echo "GO_VERSION=$GO_VERSION" >> $GITHUB_ENV

      - name: Get metadata from manifest
        run: |
          OTEL_NAME=$(yq '.dist.name' ${{ inputs.path }}/manifest.yaml)
          echo "OTEL_NAME=$OTEL_NAME" >> $GITHUB_ENV
          echo "OTEL_IMAGE_NAME=${OTEL_NAME/otelcol/opentelemetry-collector}" >> $GITHUB_ENV
          echo "OTEL_DESCRIPTION=$(yq '.dist.description' ${{ inputs.path }}/manifest.yaml)" >> $GITHUB_ENV

      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.path }}
          build-contexts: |
            ocb=.
          file: ./Dockerfile
          build-args: |
            GO_VERSION=${{ env.GO_VERSION }}
            OTEL_EXECUTABLE=${{ env.OTEL_NAME }}
          platforms: "linux/arm64,linux/amd64"
          labels: |
            org.opencontainers.image.source=https://github.com/{{ github.repository }}
            org.opencontainers.image.created={{.Date}}
            org.opencontainers.image.title={{.ProjectName}}
            org.opencontainers.image.revision={{.FullCommit}}
            org.opencontainers.image.version={{.Version}}
            org.opencontainers.image.description=${{ env.OTEL_DESCRIPTION }}
          push: ${{ inputs.publish == 'true' }}
          outputs: type=image,name=target,annotation-index.org.opencontainers.image.description=${{ env.OTEL_DESCRIPTION }}
          tags: ghcr.io/${{ github.actor }}/${{ env.OTEL_IMAGE_NAME }}:latest
